@model IEnumerable<shopban.Models.DANHMUC>
@foreach (var i in Model)
{
    <div class="row">
        <!--noiw xuat danh muc cac san pham-->
        <div class="col-xl-7 col-lg-6 mb-md-50px mb-lm-50px ">
            <div class="feature-slider-content">
                <div class="feature-slider-wrapper slider-nav-style-1">
                    <div class="slider-single-item">
                        <article class="list-product text-left">
                            <div class="product-inner">
                                <div class="img-block">
                                    <a href="single-product.html" class="thumbnail">
                                        <img class="first-img" src="~/assets/images/product-image/17.jpg" alt="" />
                                        <img class="second-img" src="~/assets/images/product-image/18.jpg" alt="" />
                                    </a>
                                    <div class="add-to-link">
                                        <ul>
                                            <li>
                                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="las la-search"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-decs">
                                    <h2><a href="single-product.html" class="product-link">Trans-Weight Hooded Wind an..</a></h2>
                                    <div class="pricing-meta">
                                        <ul>
                                            <li class="old-price">$9.90</li>
                                            <li class="current-price">$11.00</li>
                                        </ul>
                                    </div>
                                    <div class="cart-btn">
                                        <a href="#" class="add-to-curt" title="Add to cart"><i class="las la-baby-carriage"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="list-product text-left">
                            <div class="product-inner">
                                <div class="img-block">
                                    <a href="single-product.html" class="thumbnail">
                                        <img class="first-img" src="~/assets/images/product-image/8.jpg" alt="" />
                                        <img class="second-img" src="~/assets/images/product-image/8.jpg" alt="" />
                                    </a>
                                    <div class="add-to-link">
                                        <ul>
                                            <li>
                                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="las la-search"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-decs">
                                    <h2><a href="single-product.html" class="product-link">Brixton Patrol All Terrain An..</a></h2>
                                    <div class="pricing-meta">
                                        <ul>
                                            <li class="current-price">$11.90</li>
                                        </ul>
                                    </div>
                                    <div class="cart-btn">
                                        <a href="#" class="add-to-curt" title="Add to cart"><i class="las la-baby-carriage"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!--anh minh hoa danh muc san pham-->
        <div class="col-xl-5 col-lg-6 banner-area">
            <div class="banner-wrapper">
                <a href="shop-4-column.html"><img src="~/assets/images/banner-image/3.jpg" alt="" /> @i.TenDanhMuc</a>
            </div>
        </div>
    </div>
}