@model shopban.Models.DANHMUC

@{
    ViewBag.Title = "Xoadm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa danh mục</h2>

<h3>Bạn có muốn xóa tên danh mục này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên danh mục: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
